    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Misión y Visión
      </h1>
      <ol class="breadcrumb">
        <li><a href="/SIR/"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Misión y Visión</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <!-- Small boxes (Stat box) -->
      <!-- /.row -->
      <!-- Main row -->
      <div class="row">
        <!-- Left col -->
        <section class="col-lg-7 connectedSortable">
          <!-- Custom tabs (Charts with tabs)-->
 
          <!-- quick email widget -->

          <div class="box box-solid bg-light-blue-gradient">
            <div class="box-header">
              <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title">Visión</h3>
                  </div>
                  <div class="panel-body">
                    <p class="text-muted">Llegar a ser considerada como la empresa de mayor apoyo al sector industrial y de
                        construcción.</p>
                  </div>
              </div>
            </div>
          </div>

          <div class="box box-solid bg-light-blue-gradient">
            <div class="box-header">
              <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title">Misión</h3>
                  </div>
                  <div class="panel-body">
                    <p class="text-muted">El diseño de elementos mecánicos fundidos y manufacturados que cumplan con
                        estándares de calidad y que contribuyan a la solución de las necesidades de la Industria.</p>
                  </div>
              </div>
            </div>
          </div>
 

        </section>
        <!-- /.Left col -->
        <!-- right col (We are only adding the ID to make the widgets sortable)-->
        <section class="col-lg-5 connectedSortable">


          <!-- Map box -->
          <div class="box box-solid bg-light-blue-gradient">
            <div class="box-header">
              <!-- tools box -->
              <!--
              <div class="pull-right box-tools">
                <button type="button" class="btn btn-primary btn-sm daterange pull-right" data-toggle="tooltip"
                        title="Date range">
                  <i class="fa fa-calendar"></i></button>
                <button type="button" class="btn btn-primary btn-sm pull-right" data-widget="collapse"
                        data-toggle="tooltip" title="Collapse" style="margin-right: 5px;">
                  <i class="fa fa-minus"></i></button>
              </div>

              <i class="fa fa-map-marker"></i>

              <h3 class="box-title">
                Guatemala
              </h3>
            </div>-->
            <div class="box-body">
              <!---<div id="world-map" style="height: 250px; width: 100%;"></div>-->
            </div>
            <!-- /.box-body-->
            
          </div>


        </section>
        <!-- right col -->
      </div>
      <!-- /.row (main row) -->

    </section>
    <!-- /.content -->