    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Politicas de Calidad
      </h1>
      <ol class="breadcrumb">
        <li><a href="/SIR/"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Politicas de Calidad</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <!-- Small boxes (Stat box) -->
      <div class="row">
        
        <!-- ./col -->
        
        <!-- ./col -->
       
        <!-- ./col -->
        
        <!-- ./col -->
      </div>
      <!-- /.row -->
      <!-- Main row -->
      <div class="row">
        <!-- Left col -->
        <section class="col-lg-7 connectedSortable">
          <!-- Custom tabs (Charts with tabs)-->
          
          <!-- /.nav-tabs-custom -->

          <!-- Chat box -->

          <!-- /.box (chat box) -->

          <!-- TO DO List -->
        
          <!-- /.box -->

          <!-- quick email widget -->

          <div class="box box-solid bg-light-blue-gradient">
            <div class="box-header">
              <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title">Politicas de Calidad</h3>
                  </div>
                  <div class="panel-body">
                    <p class="text-muted">
                        La satisfacción de los clientes depende en gran medida de la calidad de los productos que
                        elabora nuestra empresa. Las normas de calidad ISO 9001 establecen el marco para la
                        aplicación del Sistema de Gestión de Calidad que optimiza nuestras fases de producción, con
                        independencia del Área o la actividad que realicemos.</p>
                      <!--<p class="text-muted">
                      1. Amabilidad en el servicio y agilidad en los procesos</p>
                      <p class="text-muted">
                      2. Innovación práctica y eficiencia en costos</p>
                      <p class="text-muted">
                      3. Compromiso con las normas de calidad</p>
                      <p class="text-muted">
                      4. Labor cooperativa y desarrollo integral de las persona</p>-->
                    </p>
                  </div>
              </div>
            </div>
          </div>

          

        </section>
        <!-- /.Left col -->
        <!-- right col (We are only adding the ID to make the widgets sortable)-->
        <section class="col-lg-5 connectedSortable">



          <!-- solid sales graph -->
         
          <!-- /.box -->

          <!-- Calendar -->
          
          <!-- /.box -->

        </section>
        <!-- right col -->
      </div>
      <!-- /.row (main row) -->

    </section>