    <section class="content-header">
      <h1>
        Reglamento Interno
      </h1>
      <ol class="breadcrumb">
        <li><a href="/SIR/"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Reglamento Interno</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <!-- Small boxes (Stat box) -->
      <div class="row">
        
        <!-- ./col -->
        
        <!-- ./col -->
       
        <!-- ./col -->
        
        <!-- ./col -->
      </div>
      <!-- /.row -->
      <!-- Main row -->
      <div class="row">
        <!-- Left col -->
        <section class="col-lg-7 connectedSortable">
          <!-- Custom tabs (Charts with tabs)-->
          
          <!-- /.nav-tabs-custom -->

          <!-- Chat box -->

          <!-- /.box (chat box) -->

          <!-- TO DO List -->
        
          <!-- /.box -->

          <!-- quick email widget -->

          <div class="box box-solid bg-light-blue-gradient">
            <div class="box-header">
              <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title">Reglamento Interno</h3>
                  </div>
                  <div class="panel-body">
                    <p class="text-muted">
                      <b>Ninguna persona sin excepción podrá introducir:</b></p>
                      <p class="text-muted">
                      Bebidas alcohólicas
                      </p>
                      <p class="text-muted">
                      Drogas
                      </p>
                      <p class="text-muted">
                      Armas de fuego o punzo cortantes.
                      </p>
                      <p class="text-muted">
                      El personal no podrá entrar a las instalaciones si se encuentra en estado de ebriedad ni bajo los efectos de alguna droga o estupefaciente, lo cual podrá generar su baja definitiva.
                      </p>
                      <p class="text-muted">
                      Ningún colaborador podrá recibir visitas de caracter personal. 
                      </p>
                      <p class="text-muted">
                      Ningún colaborador podrá realizar llamadas personales con excepción de emergencias.
                      </p>
                      <p class="text-muted">
                      No se aceptan mascotas dentro de las instalaciones.
                      </p>
                    </p>
                  </div>
              </div>
            </div>
          </div>

          

        </section>
        <!-- /.Left col -->
        <!-- right col (We are only adding the ID to make the widgets sortable)-->
        <section class="col-lg-5 connectedSortable">


          <!-- Map box -->
          <div class="box box-solid bg-light-blue-gradient">
            <div class="box-header">
              <!-- tools box -->
              <div class="pull-right box-tools">
                <button type="button" class="btn btn-primary btn-sm daterange pull-right" data-toggle="tooltip"
                        title="Date range">
                  <i class="fa fa-calendar"></i></button>
                <button type="button" class="btn btn-primary btn-sm pull-right" data-widget="collapse"
                        data-toggle="tooltip" title="Collapse" style="margin-right: 5px;">
                  <i class="fa fa-minus"></i></button>
              </div>
              <!-- /. tools -->

              <i class="fa fa-map-marker"></i>

              <h3 class="box-title">
                Guatemala
              </h3>
            </div>
            <div class="box-body">
              <div id="world-map" style="height: 250px; width: 100%;"></div>
            </div>
            <!-- /.box-body-->
            
          </div>
          <!-- /.box -->

          <!-- solid sales graph -->
         
          <!-- /.box -->

          <!-- Calendar -->
          
          <!-- /.box -->

        </section>
        <!-- right col -->
      </div>
      <!-- /.row (main row) -->

    </section>