    <section class="content-header">
      <h1>
        Valores
      </h1>
      <ol class="breadcrumb">
        <li><a href="/SIR/"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Valores</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <!-- Small boxes (Stat box) -->
      <div class="row">
        
        <!-- ./col -->
        
        <!-- ./col -->
       
        <!-- ./col -->
        
        <!-- ./col -->
      </div>
      <!-- /.row -->
      <!-- Main row -->
      <div class="row">
        <!-- Left col -->
        <section class="col-lg-7 connectedSortable">
          <!-- Custom tabs (Charts with tabs)-->
          
          <!-- /.nav-tabs-custom -->

          <!-- Chat box -->

          <!-- /.box (chat box) -->

          <!-- TO DO List -->
        
          <!-- /.box -->

          <!-- quick email widget -->

          <div class="box box-solid bg-light-blue-gradient">
            <div class="box-header">
              <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title">Valores</h3>
                  </div>
                  <div class="panel-body">
                    <p class="text-muted">
                    <b>1. RESPETO:</b> Fomentamos que todo el personal mantenga el respeto el uno con el otro.
                    </p>
                    <p class="text-muted">
                    <b>2. CONSERVAR:</b> Mantener todo la maquinas, aditamentos, herramientas para que estas sirvan para el buen desarrollo del trabajo. 
                    </p>
                    <p class="text-muted">
                    <b>3. INNOVACIÓN:</b> Desarrollar y diseñar nuevos equipos que permitan cumplir las
                    estrategias planteadas, objetivos, misión y visión de la empresa.
                    </p>
                    <p class="text-muted">
                    <b>4. GRATITUD:</b> Estimamos y agradecemos a nuestros colaboradores que ayudan a
                    alcanzar las metas. 
                    </p>
                    <p class="text-muted">
                    <b>5. PUNTUALIDAD:</b> Tener justo a tiempo el producto o pedidos de los clientes. 
                    </p>
                    <p class="text-muted">
                    <b>6. RESPONSABILIDAD SALARIAL:</b> Puntualidad en el pago de planillas, viáticos, bonificación
                    para nuestros colaboradores.
                    </p> 
                  </div>
              </div>
            </div>
          </div>

          

        </section>
        <!-- /.Left col -->
        <!-- right col (We are only adding the ID to make the widgets sortable)-->
        <section class="col-lg-5 connectedSortable">


          <!-- Map box -->
          <div class="box box-solid bg-light-blue-gradient">
            <div class="box-header">
              <!-- tools box -->
              <div class="pull-right box-tools">
                <button type="button" class="btn btn-primary btn-sm daterange pull-right" data-toggle="tooltip"
                        title="Date range">
                  <i class="fa fa-calendar"></i></button>
                <button type="button" class="btn btn-primary btn-sm pull-right" data-widget="collapse"
                        data-toggle="tooltip" title="Collapse" style="margin-right: 5px;">
                  <i class="fa fa-minus"></i></button>
              </div>
              <!-- /. tools -->

              <i class="fa fa-map-marker"></i>

              <h3 class="box-title">
                Guatemala
              </h3>
            </div>
            <div class="box-body">
              <div id="world-map" style="height: 250px; width: 100%;"></div>
            </div>
            <!-- /.box-body-->
            
          </div>
          <!-- /.box -->

          <!-- solid sales graph -->
         
          <!-- /.box -->

          <!-- Calendar -->
          
          <!-- /.box -->

        </section>
        <!-- right col -->
      </div>
      <!-- /.row (main row) -->

    </section>